{{- define "extra.templates.readme.default" -}}

{{ template "extra.templates.parts.header" . }}

{{ template "extra.templates.parts.main" . }}

{{ template "chart.valuesSection" . }}

{{ template "extra.templates.parts.footer" . }}

{{- end -}}
