{{- define "extra.templates.readme.lib" -}}

{{ template "extra.templates.parts.header" . }}

{{ template "extra.templates.parts.libmain" . }}

{{ template "extra.templates.parts.footer" . }}

{{- end -}}
