apiVersion: v2
name: outline
description: A Helm chart for an easier outline (https://getoutline.com) deployment at kubernetes.
type: application
# renovate: bumpVersion
version: 1.3.2
# renovate: image=outlinewiki/outline
appVersion: "1.1.0"
home: https://github.com/CodeAdminDe/helm-charts
keywords:
  - outline
  - app
  - docs
  - wiki
  - sso
  - helm
  - postgresql
  - cnpg
  - cloud-native
  - cnpg-cluster
maintainers:
  - name: Frederic Roggon
    email: frederic.roggon@codeadmin.de
    url: https://github.com/CodeAdminDe
dependencies:
  - name: postgresql
    repository: https://charts.bitnami.com/bitnami
    version: 18.1.14
    alias: postgresql
    condition: postgresql.enabled
  - name: redis
    repository: https://codeadminde.github.io/helm-charts
    version: 0.3.0
    alias: redis
    condition: redis.enabled
  - name: libchart-cnps
    version: 0.2.0
    repository: https://codeadminde.github.io/helm-charts
    alias: libchart-cnps
    condition: libchartCnps.deployAndYesIUnderstandAndAccceptTheRisk
