{{- define "libchart-cnps.CiliumNetworkPolicy.02-namespace--egress-traffic.tpl" -}}
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: {{ .Release.Name | printf "%s-%s--02-namespace--egress-traffic" .Chart.Name }}
spec:
  endpointSelector:
    matchLabels: {}
  ingress:
    - {}
  egress:
    - toEndpoints:
        - matchLabels:
            io.kubernetes.pod.namespace: kube-system
            k8s-app: kube-dns
      toPorts:
        - ports:
            - port: "53"
              protocol: UDP
          rules:
            dns:
              - matchPattern: "*"
{{- end -}}
{{- define "libchart-cnps.CiliumNetworkPolicy.02-namespace--egress-traffic" -}}
{{- include "libchart-cnps.util.merge" (append . "libchart-cnps.CiliumNetworkPolicy.02-namespace--egress-traffic.tpl") -}}
{{- end -}}
