{{- define "libchart-cnps.CiliumNetworkPolicy.99-ruleset---cnpg-initdb-traffic.tpl"}}
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: {{ .Release.Name | printf "%s-%s--99-ruleset---cnpg-initdb-traffic" .Chart.Name | trunc 63 | trimSuffix "-" }}
spec:
  endpointSelector:
    matchLabels:
      cnpg.io/jobRole: initdb
  ingress:
    - {}
  egress:
    - toEntities:
        - kube-apiserver
      toPorts:
        - ports:
            - port: "6443"
              protocol: TCP
{{- end -}}
---
{{- define "libchart-cnps.CiliumNetworkPolicy.99-ruleset---cnpg-import-traffic.tpl"}}
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: {{ .Release.Name | printf "%s-%s--99-ruleset---cnpg-import-traffic" .Chart.Name | trunc 63 | trimSuffix "-" }}
spec:
  endpointSelector:
    matchLabels:
      cnpg.io/jobRole: import
  ingress:
    - {}
  egress:
    - toEntities:
        - kube-apiserver
      toPorts:
        - ports:
            - port: "6443"
              protocol: TCP
{{- end -}}
---
{{- define "libchart-cnps.CiliumNetworkPolicy.99-ruleset---cnpg-instance-traffic.tpl"}}
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: {{ .Release.Name | printf "%s-%s--99-ruleset---cnpg-instance-traffic" .Chart.Name | trunc 63 | trimSuffix "-" }}
spec:
  endpointSelector:
    matchLabels:
      cnpg.io/podRole: instance
  ingress:
    - fromEntities:
        - remote-node
      toPorts:
        - ports:
            - port: "8000"
              protocol: TCP
    - fromEndpoints:
        - matchLabels:
            app.kubernetes.io/name: cloudnative-pg
            app.kubernetes.io/instance: operator
            io.kubernetes.pod.namespace: cloudnative-pg
      toPorts:
        - ports:
            - port: "8000"
              protocol: TCP
  egress:
    - toEntities:
        - kube-apiserver
      toPorts:
        - ports:
            - port: "6443"
              protocol: TCP
{{- with .Values.cnps.cnpgTraffic.instanceExtraEgress }}
{{- range . }}
    - {{ toYaml . | nindent 4 }}
{{- end }}
{{- end }}
{{- end -}}
---
{{- define "libchart-cnps.CiliumNetworkPolicy.99-ruleset---cnpg-join-traffic.tpl"}}
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: {{ .Release.Name | printf "%s-%s--99-ruleset---cnpg-join-traffic" .Chart.Name | trunc 63 | trimSuffix "-" }}
spec:
  endpointSelector:
    matchLabels:
      cnpg.io/jobRole: join
  ingress:
    - {}
  egress:
    - toEntities:
        - kube-apiserver
      toPorts:
        - ports:
            - port: "6443"
              protocol: TCP
{{- end -}}
---
{{- define "libchart-cnps.CiliumNetworkPolicy.99-ruleset---cnpg-major-upgrade-traffic.tpl"}}
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: {{ .Release.Name | printf "%s-%s--99-ruleset---cnpg-major-upgrade-traffic" .Chart.Name | trunc 63 | trimSuffix "-" }}
spec:
  endpointSelector:
    matchLabels:
      cnpg.io/jobRole: major-upgrade
  ingress:
    - {}
  egress:
    - toEntities:
        - kube-apiserver
      toPorts:
        - ports:
            - port: "6443"
              protocol: TCP
{{- end -}}
