{{- define "netbird-management.CiliumNetworkPolicies-AppSet.turn" -}}
metadata:
  name: {{ .Release.Name | printf "%s-%s--03-app-traffic-turn" .Chart.Name  | trunc 63 | trimSuffix "-" }}
  namespace: {{ .Release.Namespace }}
  annotations:
    checksum/values: {{ print .Values | sha256sum }}
  labels:
    {{- include "netbird-management.labels" . | nindent 4 }}
    app.kubernetes.io/component: turn
spec:
  endpointSelector:
    matchLabels:
    {{- include "netbird-management.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: turn
  {{- if .Values.cnps.appTraffic.ingress.allow }}
  ingress:
    - fromEndpoints:
        - matchLabels:
          {{- if $.Values.cnps.appTraffic.ingress.matchLabels }}
          {{- range $key, $val := $.Values.cnps.appTraffic.ingress.matchLabels }}
            {{ $key }}: {{ $val }}
          {{- end }}
          {{- else }}
            app.kubernetes.io/name: ingress-nginx
            io.kubernetes.pod.namespace: ingress-nginx
          {{- end }}
      toPorts:
        - ports:
            - port: "{{ .Values.turn.port | default 3478 }}"
              protocol: UDP
  {{- end }}
  {{- if and .Values.cnps.appTraffic.ingress.allow .Values.monitoring.enabled }}
    - fromEndpoints:
        - matchLabels:
          {{- if $.Values.cnps.appTraffic.ingress.metrics.matchLabels }}
          {{- range $key, $val := $.Values.cnps.appTraffic.ingress.metrics.matchLabels }}
            {{ $key }}: {{ $val }}
          {{- end }}
          {{- else }}
            app.kubernetes.io/name: prometheus
            app.kubernetes.io/instance: kube-prometheus-stack-prometheus
            io.kubernetes.pod.namespace: monitoring--kube-prometheus-stack
          {{- end }}
      toPorts:
        - ports:
            - port: "{{ .Values.turn.metricsPort }}"
              protocol: TCP
  {{- end }}
  {{- if and .Values.cnps.appTraffic.egress.allow (not .Values.turn.extIp) }}
  egress:
    - toFQDNs:
      - matchName: resolver1.opendns.com
      - matchName: ns1.google.com
      - matchName: ns1-1.akamaitech.net
      toPorts:
        - ports:
            - port: "53"
              protocol: UDP
    - toCIDR:
      - 1.1.1.1/32
      toPorts:
        - ports:
            - port: "53"
              protocol: UDP
  {{- end }}
{{- end }}

{{- if .Values.libchartCnps.enabled -}}
---
{{ include "libchart-cnps.CiliumNetworkPolicies-AppSet" (list . "netbird-management.CiliumNetworkPolicies-AppSet.turn") }}
{{ end -}}
