apiVersion: v1
kind: ConfigMap
metadata:
  name: coturn-turn-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "coturn-server.labels" . | nindent 4 }}
    app.kubernetes.io/component: coturn
data:
  turnserver.conf.tmpl: |-
    listening-port=${TURN_PORT}
    {{- if .Values.turn.listeningIp }}
    listening-ip={{ .Values.turn.listeningIp }}
    {{- end }}
    {{- if .Values.turn.extIp }}
    external-ip=${TURN_EXT_IP}
    {{- end }}
    {{- if .Values.turn.extIntIpMapping }}
    external-ip={{ .Values.turn.extIntIpMapping }}
    {{- end }}
    #tls-listening-port=5349
    min-port=49152
    max-port=65535
    fingerprint
    lt-cred-mech
    prometheus
    stun-only
    user=${TURN_USER}:${TURN_PASSWORD}
    realm=${TURN_DOMAIN}
    log-file=stdout
    pidfile="/etc/coturn/tmp/turnserver.pid"
    stale-nonce=600
    cert=/etc/coturn/data/certs/cert.pem
    pkey=/etc/coturn/data/private/privkey.pem
    no-tls
    no-tcp
    no-software-attribute
    no-cli
    no-multicast-peers
    {{- if .Values.turn.configExtras }}
    {{- .Values.turn.configExtras | nindent 4 }}
    {{- end }}
