apiVersion: v1
kind: ConfigMap
metadata:
  name: netbird-turn-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "netbird-management.labels" . | nindent 4 }}
    app.kubernetes.io/component: turn
data:
  turnserver.conf.tmpl: |-
    listening-port=${TURN_PORT}
    external-ip=${TURN_EXT_IP}
    #tls-listening-port=5349
    min-port=49152
    max-port=65535
    fingerprint
    lt-cred-mech
    user=${TURN_USER}:${TURN_PASSWORD}
    realm=${TURN_DOMAIN}
    cert=/etc/coturn/data/certs/cert.pem
    pkey=/etc/coturn/data/private/privkey.pem
    log-file=stdout
    no-software-attribute
    pidfile="/etc/coturn/tmp/turnserver.pid"
    no-cli
    no-multicast-peers
