{{- define "outline.CiliumNetworkPolicies-NamespaceSet" -}}
metadata:
  namespace: {{ .Release.Namespace }}
  annotations:
    checksum/values: {{ print .Values | sha256sum }}
  labels:
    {{- include "outline.labels" . | nindent 4 }}
{{- end -}}

{{- if .Values.libchartCnps.deployAndYesIUnderstandAndAccceptTheRisk -}}
{{ include "libchart-cnps.CiliumNetworkPolicies-NamespaceSet" (list . "outline.CiliumNetworkPolicies-NamespaceSet") }}
---
{{ end -}}
{{- define "outline.CiliumNetworkPolicies-CnpgSet" -}}
metadata:
  namespace: {{ .Release.Namespace }}
  annotations:
    checksum/values: {{ print .Values | sha256sum }}
  labels:
    {{- include "outline.labels" . | nindent 4 }}
{{- end -}}

{{- if and .Values.libchartCnps.includeCnpgPolicies .Values.libchartCnps.deployAndYesIUnderstandAndAccceptTheRisk -}}
{{ include "libchart-cnps.CiliumNetworkPolicies-CnpgSet" (list . "outline.CiliumNetworkPolicies-CnpgSet") }}
---
{{ end -}}
{{- define "outline.CiliumNetworkPolicies-AppSet" -}}
metadata:
  namespace: {{ .Release.Namespace }}
  annotations:
    checksum/values: {{ print .Values | sha256sum }}
  labels:
    {{- include "outline.labels" . | nindent 4 }}
spec:
  endpointSelector:
    matchLabels:
    {{- include "outline.labels" . | nindent 6 }}
  {{- if .Values.cnps.appTraffic.ingress.allow }}
  ingress:
    - fromEndpoints:
        - matchLabels:
          {{- if $.Values.cnps.appTraffic.ingress.matchLabels }}
          {{- range $key, $val := $.Values.cnps.appTraffic.ingress.matchLabels }}
            {{ $key }}: {{ $val }}
          {{- end }}
          {{- else }}
            app.kubernetes.io/name: ingress-nginx
            io.kubernetes.pod.namespace: ingress-nginx
          {{- end }}
      toPorts:
        - ports:
            - port: "{{ .Values.service.targetPort }}"
              protocol: {{ .Values.service.targetProtocol | default "TCP" }}
  {{- end }}
  {{- if .Values.cnps.appTraffic.egress.allow }}
  egress:
    - toEndpoints:
        - matchLabels:
          {{- if $.Values.cnps.appTraffic.egress.matchLabels }}
          {{- range $key, $val := $.Values.cnps.appTraffic.egress.matchLabels }}
            {{ $key }}: {{ $val }}
          {{- end }}
          {{- else }}
            app.kubernetes.io/name: ingress-nginx
            io.kubernetes.pod.namespace: ingress-nginx
          {{- end }}
      toPorts:
        - ports:
            - port: "443"
              protocol: TCP
    - toEntities:
      {{- if $.Values.cnps.appTraffic.egress.toEntities }}
        {{- with $.Values.cnps.appTraffic.egress.toEntities }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- else }}
        - world
      {{- end }}
      toPorts:
        - ports:
            - port: "443"
              protocol: TCP
  {{- end }}
{{- end }}
{{- if .Values.libchartCnps.deployAndYesIUnderstandAndAccceptTheRisk -}}
{{ include "libchart-cnps.CiliumNetworkPolicies-AppSet" (list . "outline.CiliumNetworkPolicies-AppSet") }}
{{ end -}}
