name: Release Charts

on:
  push:
    branches:
      - main

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      # https://github.com/helm/chart-releaser?tab=readme-ov-file#dealing-with-charts-that-have-dependencies
      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1
      - name: Add dependencies
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add supabase https://codeadminde.github.io/supabase-kubernetes
          helm repo add codeadminde https://codeadminde.github.io/helm-charts

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_SKIP_EXISTING: true

  update-readme:
    needs: release
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch into main
        uses: actions/checkout@v6
        with:
          ref: main
          path: main

      - name: Checkout gh-pages branch into gh-pages
        uses: actions/checkout@v6
        with:
          ref: gh-pages
          path: gh-pages

      - name: Extract Helm Charts
        id: extract_chart_entries
        uses: mikefarah/yq@master
        with:
            cmd: cat gh-pages/index.yaml | yq -o=json eval '.entries | to_entries'

      - name: Generate README.md
        run: |
            helm_charts='${{ steps.extract_chart_entries.outputs.result }}'
            table="| Name | Version | AppVersion | Description |\n|------|---------|------------|-------------|\n"
            while IFS= read -r chart; do
                value=$(echo "$chart" | jq '.value[0]')
                name=$(echo $value | jq -r '.name')
                version=$(echo $value | jq -r '.version')
                appVersion=$(echo $value | jq -r '.appVersion')
                description=$(echo $value | jq -r '.description')
                table+="| ${name} | ${version} | ${appVersion} | ${description} |\n"
            done < <(echo "$helm_charts" | jq -c '.[]')
            echo -e "$(cat main/${CA_GHR_HEADER_TMPL})\n\n${table}" > gh-pages/README.md
        env:
            CA_GHR_HEADER_TMPL: ".gh-pages/templates/README.md"

      - name: Commit and push README.md to gh-pages
        run: |
            cd gh-pages
            git config user.name "$GITHUB_ACTOR"
            git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
            git add README.md
            if ! git diff-index --quiet HEAD; then
              git commit -m "Update README.md with latest Helm charts"
              git push origin gh-pages
            fi
