name: Renovate

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0/2 * * *'
concurrency: renovate

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@v2
        with:
          private-key: ${{ secrets.private_key }}
          app-id: ${{ secrets.app_id }}
          owner: ${{ github.repository_owner }}
          repositories: helm-charts

      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.0.3
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_PLATFORM_COMMIT: "true"
        with:
          configurationFile: .renovate-config.json
          token: '${{ steps.get_token.outputs.token }}'
